body {
  background-color: #1d2322;
}

#tags input[type="checkbox"] + span {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 5px;
  vertical-align: middle;
  background-color: white;
}

#tags input[type="checkbox"]:checked + span {
  content: "\2713";
  font-size: 14px;
  color: #fff;
  background-color: #00ada4;
  text-align: center;
  line-height: 16px;
}

.progress {
  position: relative;
  height: 10px;
  width: 500px;
  border: 10px solid #00ada4;
  border-radius: 15px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40%;
  margin-bottom: 100px;
}
.progress .color {
  position: absolute;
  background-color: #ffffff;
  width: 0px;
  height: 10px;
  border-radius: 15px;
  animation: progres 4s infinite linear;
}
.loading {
  display: flex;
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
  color: #f7f7f7;
}
@keyframes progres {
  0% {
    width: 0%;
  }
  15% {
    width: 45%;
  }
  25% {
    width: 75%;
  }
  35% {
    width: 85%;
  }
  50% {
    width: 100%;
  }
}
.animate-fade-in {
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.toggle__dot {
  transition: transform 0.3s;
}
